{% extends 'base_layout.html' %}

{% block content %}

<div class="user">
    <h1>Login</h1>
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Login</button>
    </form>
</div>

{% endblock %}