{% extends 'base_layout.html' %}

{% block content %}
<div class="user" id="profile">
    <img src="{{ profile.photo.url }}">
    <h2>{{ profile.name }}</h2>
    <p>{{ profile.birthdate }}</p>
    <p>{{ profile.id_line }}</p>
    <p>{{ profile.desc }}</p>

</div>


{% endblock %}