{% extends 'base_layout.html' %}

{% block content %}
<div class="user">
    <h1>Setup Profile</h1>
    <form action="{% url 'accounts:create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}