{% extends 'base_layout.html' %}

{% block content %}
<div class="user">
    <h1>Sign Up</h1>
    <form action="{% url 'accounts:signup' %}" class="site-form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Signup">
    </form>
</div>

{% endblock %}