body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    color: rgb(255, 255, 255);
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.75);
    background: rgb(255, 137, 198);
    max-height: 90px;
}

header h1 {
    margin: 0;
    padding: 10px 20px;
}

header nav {
    margin: 0;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-areas:
        'h1 ul';
}

header nav ul {
    align-self: center;
    justify-self: right;
    padding: 0 20px;
}

/* main {
    background: rgb(0, 0, 0, 0.2);
} */

main #homepage {
    margin: 7em auto 0;
    font-size: 2em;
    text-align: center;
    font-style: italic;
}

#main-navigation li {
    display: inline-block;
    margin-right: 10px;
}

#main-navigation li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 2px #000 solid;
    border-radius: 6px;
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#main-navigation li a:hover {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    width: 90%;
    margin: 0 auto;
    /*background: rgba(255,255,255,0.5);*/
}

main div.user {
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 2em;
}

main div#profile>* {
    display: block;
    margin: 0 auto;
    text-align: center;
}

main div#profile img {
    max-width: 15em;
    -webkit-box-shadow: 0px 0px 25px 6px rgba(255, 255, 255, 0.21);
    -moz-box-shadow: 0px 0px 25px 6px rgba(255, 255, 255, 0.21);
    box-shadow: 0px 0px 25px 6px rgba(255, 255, 255, 0.21);

}

main div#profile>h2,
main div#profile>p {
    margin: 15px auto 10px;
}

h2 {
    font-size: 2em;
}