{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>BERTEMAN</title>
</head>

<body>
    <header>
        <nav id="main-navigation">
            <h1 id="logo"><img src="{% static 'logo.png' %}"></h1>
            <ul>
                {% if user.is_authenticated %}
                {% with user.get_username as usr %}
                <li><a href="{% url 'accounts:profiles' url_profile=usr %}">Home</a></li>
                {% endwith %}
                <li><a href="{% url 'friends:add_friend' %}">Add Friend</a></li>
                <li>
                    <form action="{% url 'accounts:logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>