{% extends 'base_layout.html' %}

{% block content %}
<div class="user" id="friend">
    <h1>Available Users</h1>
    {% for friend in friends %}
    {% if friend.username == request.user %}
    <div id="hidden"></div>
    {% else %}
    <p><img src="{{ friend.photo.url }}"></p>
    <p id="name">{{ friend.name }}</p>
    <p id="line">{{ friend.id_line }}</p>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}